{{!< myapp}}
{{#if id}}
    <p>这是一个用户界面，此用户名字为： {{id}}</p>
{{else}}  
    <h4>用户列表:</h4>
    <ul class="userList">
        {{#each userList}}
            <li>用户：{{userName}}，<a href="users/{{id}}">点击查看用户</a></li>
        {{/each}}
    </ul>
{{/if}}